.table-container {
    width: 100%;
}

.table-container thead {
    background-color: var(--subheader-background-color);
}

.table-container th {
    padding: 1rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.table-container td {
    padding: 1rem 1rem;
    text-align: left;
}

.table-container td {
    border-bottom: solid 1px var(--border-color);
}

.table-container tbody tr:hover {
    background-color: var(--subheader-background-color);
    cursor: pointer;
}

.table-container .name-checkbox-wrapper {
    visibility: hidden;
}

.table-container tbody tr:hover .name-checkbox-wrapper{
    visibility: visible;
}

.table-container .visibility-visible {
    visibility: visible;
}

.table-container .sort-icons-container {
    margin-left: 0.3rem;
    translate: 0 10%;
}