.custom-side-panel-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-side-panel-container .custom-side-panel-content {
    position: absolute;
    width: 33vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    overflow-y: scroll;
    transform: translateX(100%);
    animation: slide-from-right 0.5s both;
}

@keyframes slide-from-right {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0%);
      opacity: 1;
    }
}
  