.custon-label-container {
    cursor: text !important;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.custom-label-success {
    background-color: var(--success-background-color);
    color: var(--success-color);
}

.custom-label-failure {
    background-color:  var(--failure-background-color);
    color: var(--failure-color);
}