:root {
  --success-background-color: rgba(29, 201, 183, 0.1);
  --success-color: #1dc9b7;
  --failure-background-color: rgba(253, 57, 122, 0.1);
  --failure-color: #fd397a;
  --border-color: rgba(0, 0, 0, 0.05);
  --subheader-background-color: rgba(211, 211, 248, 0.4);
  --disabled-color: #c0c0c0;
  --primary-color: rgb(66, 65, 65);
}

.App {
  background-color: #E2E2E2;
  padding: 5rem 15rem;
  min-height: 100vh;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
